@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to the Demo App!</h2>

<p>
    <a href="@Url.Action("Register", "Home")">Register</a> |
    <a href="@Url.Action("Login", "Home")">Login</a> |
    
</p>


